body {
  background-color: #dedede;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}

header {
  padding: 2rem 1rem 1rem 1rem;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

p {
  font-size: 1.5625rem;
  font-family: Arial, sans-serif;
  text-align: center;
}

img {
  width: 100%;
  max-height: 200px;
  display: block;
}


@media screen and (min-width: 772px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 998px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
